.loader{
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
        transition: 1s;

    }
    100%{
        transform: rotate(360deg);
        transition: 1s;


    }
}

.progress-bar{
    height: 30px;
    border: 1px solid black;
    width: 40vw;
    border-radius: 10px;
    overflow: hidden; 
}

.progress{
    height: 30px;
    background-color: #149ddd;
    transition: 0.5s ease-in;
    border-radius: 10px;
}


.loader img{
    transition: 1s;

    width: 20%;
    height: auto;
    margin: auto;
    animation: rotate 2s linear infinite;
}




