.experiences{
    background-color: white;
    color: black;
    padding: 1%;

    .skills{
        margin: 1%;
        height: 90%;
        h2{

            margin: 1%;
        }

        p{
            font-size: 1vw;
            margin: 1%;
        }

        .content{
            background-color: #ecf5ff;
            margin: auto;
            width: 90%;
            padding: 1%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            border-radius: 10px;

        }
    }

    
}

@media screen and (max-width: 900px) {
    .experiences{
        
        .skills{
            margin: 1%;
            p{
                font-size: 4vw;
            }
            .content{
                .skill{
                    width: 40%;
                    .icons{
                        font-size: 20vw;
                    }

                    p{
                        font-size: 4vw;
                    }
                }
            }
        }
    }
}