@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}

body {
  color: white;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Rubik';
}

button {
  cursor: pointer;
}

.App{
  display: flex;
  background-image: url('./assets/img/banniere2.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.box{
  height: 100%;
  margin-left: 15%;
}

h2{
  font-size: 2vw;
  border-bottom: 0.4vw solid #149ddd;
  width: fit-content;
}

p{
  font-size: 1vw;
}

.separateur{
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separateur  .bar{
  width: 80%;
  height: 0.2vw;
  background-color: black;
}

footer{
  height: 30vh;
}

@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }

  .App{
    background-size: auto;
    background-position-x: center;
    background-image: url('./assets/img/banniere2-phone.jpeg');

  }

  h2{
    font-size: 10vw;
    margin: 1%;
  }


  .box{
    margin-left: 0%;
    overflow-x: hidden;
    width: 100vw;
  }
}
